@font-face {
  font-family: "AGSouvenir";
  src: url("./fonts/ag_souvenir.ttf");
}

@font-face {
  font-family: "AGSouvenirBold";
  src: url("./fonts/ag_souvenir_bold.ttf");
}

@font-face {
  font-family: "ABodoniNova";
  src: url("./fonts/a_bodoninova.ttf");
}

@font-face {
  font-family: "ABodoniNovaBold";
  src: url("./fonts/a_bodoninova_bold.ttf");
}

@font-face {
  font-family: "BighausTitulBrkExtraBold";
  src: url("./fonts/a_bighaustitulbrk_extrabold.ttf");
}

@font-face {
  font-family: "ColabThin";
  src: url("./fonts/colab_thin.otf");
}

@font-face {
  font-family: "ColabRegular";
  src: url("./fonts/colab_regular.otf");
}

@font-face {
  font-family: "ColabMedium";
  src: url("./fonts/colab_medium.otf");
}

@font-face {
  font-family: "AGBenguiatCyr";
  src: url("./fonts/ag_benguiat_cyr.ttf");
}

@font-face {
  font-family: "ABodoniNovaNrItalic";
  src: url("./fonts/a_bodoinovanr_italic.ttf");
}

@font-face {
  font-family: "AGLettericaBold";
  src: url("./fonts/ag_letterica_bold_bold.ttf");
}

@font-face {
  font-family: "PassionOneBold";
  src: url("./fonts/passion_one_bold.ttf");
}
