// Colors
$color-aquamarine-blue: #81ffff;
$color-light-blue: #4cb2e7;
$color-blue: #299fca;
$color-dark-blue: #127ea5;
$color-border-blue: #7dbee0;
$color-gray: #d6e6ef;
$color-olive-yellow: #ded90e;
$color-yellow: #f2e60a;

// Breakpoints
$bp-xs: 320px;
$bp-sm: 560px;
$bp-md: 720px;
$bp-lg: 900px;
$bp-xl: 1200px;
$bp-xxl: 1300px;
